[Unit]
Description=EOJ repos service
After=network.target

[Service]
ExecStart=/opt/eoj/bin/repos -conf=/etc/eoj/settings.yaml -logs=/opt/eoj/logs/repos
WorkingDirectory=/opt/eoj
StandardOutput=null
KillMode=process
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
